.nav-link {
 position: relative;
 text-decoration: none;
}

.nav-link::after {
 content: '';
 position: absolute;
 bottom: -2px;
 left: 0;
 width: 100%;
 height: 2px;
 background: black;
 transform: scaleX(0);
 transition: transform 0.3s ease;
}

.nav-link:hover::after {
 transform: scaleX(1);
}


#main-nav.scrolled .nav-link::after {
 background: white;
}



#mobile-menu {
 background-color: transparent;
 transition: background-color 0.3s ease;
}

#main-nav.scrolled #mobile-menu {
 background-color: rgba(239, 68, 68, 0.2);
}

/* Mobile Menu Links */
#mobile-menu a {
 color: black;
 transition: color 0.3s ease;
}

#main-nav.scrolled #mobile-menu a {
 color: white;
}


#mobile-menu-button {
 color: black;
 transition: color 0.3s ease;
}

#main-nav.scrolled #mobile-menu-button {
 color: white;
}

.modal-overlay {
 opacity: 0;
 visibility: hidden;
 transition: all 0.3s ease-in-out;
}

.modal-content {
 opacity: 0;
 transform: translateY(-20px);
 transition: all 0.3s ease-in-out;
}

.modal-active .modal-overlay {
 opacity: 1;
 visibility: visible;
}

.modal-active .modal-content {
 opacity: 1;
 transform: translateY(0);
}

.success-message {
 opacity: 0;
 transform: scale(0.8);
 transition: all 0.3s ease-in-out;
}

.success-active .success-message {
 opacity: 1;
 transform: scale(1);
}


#main-nav {
 background-color: transparent;
 transition: background-color 0.3s ease;
}


#main-nav.scrolled {
 background-color: rgba(239, 68, 68, 0.8);
}


#logo {
 filter: brightness(0);
}

#main-nav.scrolled #logo {
 filter: brightness(1);
}


#main-nav .nav-link {
 color: black;
 transition: color 0.3s ease;
}


#main-nav.scrolled .nav-link {
 color: white;
}
